@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
  --font-primary: 'Roboto', sans-serif;
  --font-secondory: 'Poppins', sans-serif;
}
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-primary);
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
.app__main-section{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
.f-regular{
  font-size: normal;
}
.f-xlarge{
  font-size: 3rem;
}
.f-large{
  font-size: 1.7rem;
}
.f-larger{
  font-size: 1rem;
}
.f-small{
  font-size: small;
}
.fw-regular{
  font-weight: normal;
}
.fw-bold{
  font-weight: bold;
}
.fw-light{
  font-weight: lighter;
}
.text-muted{
  color: gray;
}
.x-snap{
  scroll-snap-type: x mandatory;
}
.x-snap > * {
  scroll-snap-align: start;
}
.flex-group{
  display: flex;
}
.gap-1{
  gap: 1rem;
}
.flex-group-column{
  display: flex;
  flex-direction: column;
}
.flex-group-between{
  display: flex;
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.b-bottom{
  border-bottom: 1px solid black;
}
.b-bottom-white{
  border-bottom: 1px solid white;
}
.cap{
  text-transform: capitalize;
}
.upper{
  text-transform: uppercase;
}
.cursor-pointer{
  cursor: pointer;
}
.m-t-1{
  margin-top: 0.5rem;
}
.m-t-2{
  margin-top: 1rem;
}
.p-1{
  padding: 1rem;
}
.p-2{
  padding: 2rem;
}
.overflow-hidden{
  overflow: hidden;
}
.max-height-0{
  max-height: 0;
}
.color-w{
  color: white;
}
.invisible-button{
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}